<?xml version="1.0"?>
<config>
    <modules>
        <Atwix_ArchiveProduct>
            <version>0.1.0</version>
        </Atwix_ArchiveProduct>
    </modules>
    <global>
        <models>
            <atwix_archiveproduct>
                <class>Atwix_ArchiveProduct_Model</class>
                <resourceModel>atwix_archiveproduct_resource</resourceModel>
            </atwix_archiveproduct>
        </models>
        <blocks>
            <atwix_archiveproduct>
                <class>Atwix_ArchiveProduct_Block</class>
            </atwix_archiveproduct>
        </blocks>
        <helpers>
            <atwix_archiveproduct>
                <class>Atwix_ArchiveProduct_Helper</class>
            </atwix_archiveproduct>
        </helpers>
        <resources>
            <atwix_archiveproduct_setup>
                <setup>
                    <module>Atwix_ArchiveProduct</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </atwix_archiveproduct_setup>
        </resources>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <atwix_archiveproduct>
                        <class>atwix_archiveproduct/observer</class>
                        <method>addIsArchivedFilter</method>
                    </atwix_archiveproduct>
                </observers>
            </catalog_product_collection_load_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <atwix_archiveproduct before="Mage_Adminhtml">Atwix_ArchiveProduct_Adminhtml</atwix_archiveproduct>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <atwix_archiveproduct>
                        <class>atwix_archiveproduct/observer</class>
                        <method>chnageDeleteUrlToArchiveUrl</method>
                    </atwix_archiveproduct>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
        </events>
    </adminhtml>
</config>